<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body style="padding-top: 70px">
	<div class="container">
		
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar icon-white"></span>
			  <span class="icon-bar icon-white"></span>
			  <span class="icon-bar icon-white"></span>
		    </button>
		    <a class="navbar-brand" href="<%= root_path %>">{RedIbydesigN}</a>
		  </div>
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li><%= link_to "Home", root_path %></li>
		      <li><%= link_to "About Us", about_path %></li>
		      <li class="dropdown"><a href="#" data-toggle="dropdown" data-trigger="dropdown">Blog</a>
			  	<ul class="dropdown-menu">
			  		<li><%= link_to "Blog Posts", posts_path %></li>
			  		<li><%= link_to "New Post", new_post_path %></li>
			  		<li><a href="#">Search Posts</a></li>
			  	</ul>
			  </li>
		      <li><%= link_to "Contact Us", contact_path %></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
		
		<%= yield %>
		
	</div>
</body>
</html>
